#webpay {
    width: 100%;
    min-height: 750px;
    border: 0;
}

#webpay-container {
    margin: 0;
    border: 1px solid $gray-300;
    border-radius: 3px;
}

#webpay-response {
    padding: 1rem;
}

#alert {
    z-index: 9999;
    position: absolute;
    top: 2rem;
    right: 35%;
    margin: 3rem auto;
    width: 30%;
    text-align: center;
}

#footer {
    font-size: 70%;
    margin-top: 2rem;
}

#footer hr {
    width: 70%;
}

iframe {
    border: 0;
}