#app-list {
    .title {
        margin: 2rem 0;
    }

	.card {
        margin-bottom: 1rem;
    }

	.card-title {
        margin-bottom: 0;
    }

    .card-header {
        padding: 0.5rem 0.9rem;
    }

    .card-column-title {
        font-weight: 700; 
        font-size: 115%; 
        margin: 0;
    }

    #global-filter-clear {
        cursor: pointer;
    }

    .qa-item-group {
		.list-group-item {
			padding: 0.3rem 0.7rem;
			font-size: 0.9rem;
			cursor: pointer;
			text-decoration: none;
			color: $body-color;
		}

		.list-group-item:hover {
            background-color: $gray-100;
        }
	}
}