#app-webpay {
    .webpay-list-group .list-group-item {
        padding: 0.3rem 0.7rem;
        font-size: 0.9rem;
    }
    
    pre {
        border: 0;
        background-color: transparent;
    }

    #webpay-list-group {
		.list-group-item {
			padding: 0.3rem 0.7rem;
			font-size: 0.9rem;
			cursor: pointer;
            text-decoration: none;
            color: $body-color;
        }
        
        .list-group-item:hover {
            background-color: $gray-100;
        }
	}
}