iframe {
	border: 0;
}

.swp-btn {
	padding: 1em;
	font-weight: 700;
	color: white;
	border: 1px solid whiteSmoke;
	border-radius: 5px;
	cursor: pointer;
}

#submit {
	background: #0d47a1;
}

#submit:hover {
	background: #4285F4;
}

#cancel {
	background: #CC0000;
}

#cancel:hover {
	background: #ff4444;
}